.page
{
  width: 210mm;
  height: 297mm;
}

@page
{
  size: A4;
  margin: 2cm;
}

.ticket
{
  width: 520px;
  height: 200px;
  padding: 10px;

}

.ticket-barcode
{
  border-style: solid;
  border-bottom-right-radius: 10px;
  border-color:  rgba(0,0,0,0.6);
  position: relative;
  float: right;
  height: 150px;
}

.ticket-barcode img
{
  height: 130px;
  width: 50px;
  float: right;
  padding: 5px;
}

.table th
{
  text-align: left;
}

.ticket-content
{
  border-style: solid;
  border-color:  rgba(0,0,0,0.6);
  border-bottom-left-radius: 10px;
  height: 130px;
  width: 435px;
  padding: 10px;
}

.address
{
  float: right;
  font-size: 10px;
}

.ticket-header
{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-color:  rgba(0,0,0,0.6);
  height: 40px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.ticket-header img
{
  height: 45px;
  float: right;
}

.cinema-title
{
  position: relative;
  color:#FAC11A;
  font-size: 14px;
  /* margin: 10px auto 0 auto; */
}

/* <img src='favicon.ico' alt='Lunardo Logo'> */