h1, h2, h3
{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

header
{
  text-align: center;
}


body{
  background-color: black;
  font-family: 'Merriweather', sans-serif;
}

#debug{
  background: white;
}
.page
{
  width: 210mm;
  height: 297mm;
  border: 2px solid black;
  padding: 50px;
  background-color: white;
}

@page
{
  size: A4;
  margin: 2cm;
}

.ticket
{
  width: 580px;
  height: 200px;
  padding: 10px;
  margin-bottom: 40px;

}

.ticket-barcode
{
  border-style: solid;
  border-bottom-right-radius: 10px;
  border-color:  rgba(0,0,0,0.6);
  position: relative;
  float: right;
  height: 180px;
}

.ticket-barcode img
{
  height: 160px;
  width: 50px;
  float: right;
  padding: 5px;
}

#ticket-page{
  width: 210mm;
  min-height: 297mm;
  border: 2px solid black;
  padding: 50px;
  background-color: white;
}

.purchase-table
{
  border: solid; 
  border-collapse: collapse; 
  width: 100%;
  text-align: left;
}

.purchase-table, .purchase-table td, .purchase-table th 
{
  border: 1px solid black;
}

.purchase-table th
{
  text-align: center;
  background-color: #2A2A25;
  color: #E6B31E;
}

.purchase-table td, .purchase-table th 
{
  padding: 10px;
}

.table th
{
  text-align: left;
  
}

.ticket-content
{
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
  border-color:  rgba(0,0,0,0.6);
  border-bottom-left-radius: 10px;
  height: 160px;
  width: 495px;
  padding: 10px;
}

.address
{
  float: right;
  font-size: 10px;
}

.category
{
  font-weight: bold; 
}

.ticket-header
{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-color:  rgba(0,0,0,0.6);
  height: 40px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.ticket-header img
{
  height: 45px;
  float: right;
}

.cinema-title
{
  position: relative;
  color:#FAC11A;
  font-size: 14px;
  float: left;
  /* margin: 10px auto 0 auto; */
}

#printDoc, .total-price
{
  float:right;
}

.total-price
{
  padding-right: 150px;
}
