body, html  {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', sans-serif;
  background-color:#F2F4F3;
	/*height:100%; Stops the sticky from working*/
	scroll-behavior: smooth;
}

.header{
	height: calc( 100% - 48px);
}

h1 {
  color:#E6B31E;
  margin: 50px auto 0 auto;
  font-size: 6.625em;
}

h2{
  color:#E6B31E;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}

h3{
  color:#343434;
  font-size: 1.17rem;
  font-family: 'Montserrat', sans-serif;
}

hr{
  border-style:none;
  margin-bottom: 2px;
  margin-top: 0px;
}

.bottom-cloud{
  position: absolute;
  left: 25%;
  bottom: 55%;
}

.section-5 {
background-color: black;
color:#eaf6f6;
font-family: 'Montserrat', sans-serif;
margin:0;
padding-top: 35px;
padding-bottom: 35px;
}

.icon{
  height:30px;
  display:inline;
}
.title{
	text-align: center;
  /*background: url(https://cdn.pixabay.com/photo/2013/02/26/05/36/metz-86226_1280.jpg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  padding-top:30vh;
  width: 100vw;
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
}
.coding-img{
  width:25%;
  float:left;
  margin-right: 30px;
}

.copyright{
  margin-top:40px;
  font-size: 0.9rem;
  font-weight: bold;
  font-family: serif;
}

.credit{
  font-size: 0.8rem;
  text-decoration: none;
}

.design-img{
  width:25%;
  float:right;
  margin-left: 30px;
}

.final-text{
  margin-bottom: 50px;
  font-size:1rem;
}

.section-1 {
	background-image:url("images/cover.png");
  background-color: #343434;
  position:relative;
  height:94vh;
  background-size: cover;
	z-index: 100;
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-2{
  background-color: #66717E;
}

.section-title{
    margin-top: 0px;
    padding-top: 70px;
}

.navbar{
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  background-color: black;
  position: sticky; /* Set the navbar to fixed position */
	position: -webkit-sticky;
	top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 99999;
	text-align: center;
	font-weight: bolder;



}

.link{
	color: #E6B31E;
}

.anchor{
  padding-top: 50px;
  visibility: hidden;
}

.navbar a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.footer-link{
  color:#11999E;
  font-weight: bold;
  margin:30px;
  text-decoration: none;
}

.footer-link:hover{
  color:#EAF6F6;
  }

.info{
  margin-bottom: 60px;
  line-height: 2;
}

.prices {
  height:100vh;
  background-image:url("images/ticket.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.prices-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding: 135px 60px;
  float: left;
  height: 62.35vh;
  background-color: rgba(0,0,0,0.6);
  font-size: 17px;
  line-height: 27px;
  }

}

.profile-img{
  width:200px;
  border-radius: 100%;
  margin-top: 75px;
}

.about-us{
	background-image: url("images/about.png");
	background-size:cover;
  height:94vh;
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.info{
  max-width: auto;
  color: #E6B31E;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  text-align: center;
  width: 65%;
}

.about-info{
  color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
	text-align: right;
}

.about-us-box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 42%;
	padding: 135px 60px;
	float: right;
	height: 56.25vh;
	background-color: rgba(0,0,0,0.6);
	font-size: 17px;
	line-height: 27px;
}

.slogan{
  color:#F2F4F3;
  font-weight:normal;
  font-size: 2.5rem;
  margin-top:0;
  font-family: 'Montserrat', sans-serif;
}

.price-row{
  line-height: 2;
	font-family: 'Montserrat', sans-serif;
  color: white;
}

.table{
	border-width: 5px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 60px;
	margin-left:auto;
  margin-right:auto;
}

td {
  /*border: 1px solid #dddddd;*/
  padding: 8px;
	line-height: 1.1em;
  text-align: center;
}

th{
  /*border: 1px solid #dddddd;*/
  padding: 8px;
	line-height: 1.1em;
  text-align: center;
  color:#E6B31E;
}

tr:nth-child(even) {
  background-color: #303030;
}

.top-cloud{
  position: absolute;
  right: 25%;
  top:10%;
}

.now-showing{
  background-image: url("images/seat.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, 600px);
  grid-template-rows: repeat(2, 350px);
  grid-gap: 10px;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  grid-auto-flow: column;
  padding: 30px 30px 30px 30px;
	margin-bottom: 0px;
}

.movie-title{
  color: #E6B31E;
  font-size: 1.25em;
  font-family: 'Montserrat', sans-serif;
  font-weight:bolder;
  position: left;

}
.movie{
  border-style:solid;
  border-color:#343434;
  background-color: black;
  border-width:1px;
  opacity:0.8;
  border-radius: 25px;
  max-height:350px;
  max-width:600px;
  resize: both;
}

.poster{
  width:200px;
  length:400px;
  float: left;
  margin: 30px 5px 30px 30px;
}

.description{
  color:#E6B31E;
  font-size: 1.125em;
  font-weight: 400px;
  font-family: 'Montserrat', sans-serif;
  line-height: 2.3;
}

.synopsis{
  height:100vh;
  background-image: url("images/synop1.png");
  background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.synopsis-display{
	max-width:1000px;
	max-height:1000px;
  padding: 10px;
  margin: auto;
	border-color:#343434;
  background-color: rgba(0,0,0,0.8);
  border-width:1px;
  border-radius: 25px;
}

.synopsis-display p{
	font-family: 'Montserrat', sans-serif;
	color:#F2F4F3;
}

.synopsis-display iframe{
	float: right;
	margin: 0px 30px 30px 30px;
}

.booking{
	margin:30px;
}

.booking button{
	display:grid;
	background-color: #E6B31E;
 	border:1px solid #a17d12;
	border-width:1px;
 	padding:10px 20px 10px 20px;
 	cursor:pointer;
	float:left;
	font-weight:bold;
	font-family: 'Montserrat', sans-serif;
	color: #343434;
	border-radius: 10px;
	margin: 1px;
}

.booking button:hover{
	background-color: #a17d12;
}

.booking:after {
  clear: both;
  content: "",
  display: table;
}


.butn {
  background: #66bfbf;
  background-image: -webkit-linear-gradient(top, #66bfbf, #2d86a1);
  background-image: -moz-linear-gradient(top, #66bfbf, #2d86a1);
  background-image: -ms-linear-gradient(top, #66bfbf, #2d86a1);
  background-image: -o-linear-gradient(top, #66bfbf, #2d86a1);
  background-image: linear-gradient(to bottom, #66bfbf, #2d86a1);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family:  'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #66bfbf 1px;
  text-decoration: none;
}

.butn:hover {
  background: #66bfbf;
  background-image: -webkit-linear-gradient(top, #66bfbf, #66bfbf);
  background-image: -moz-linear-gradient(top, #66bfbf, #66bfbf);
  background-image: -ms-linear-gradient(top, #66bfbf, #66bfbf);
  background-image: -o-linear-gradient(top, #66bfbf, #66bfbf);
  background-image: linear-gradient(to bottom, #66bfbf, #66bfbf);
  text-decoration: none;
}

.contact-details{
  color:#F2F4F3;
}
