/*all items are listed in alphabetical order*/

body, html  {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', sans-serif;
  background-color:#F2F4F3;
	scroll-behavior: smooth;
}

h1 {
  color:#E6B31E;
  margin: 50px auto 0 auto;
  font-size: 6.625em;
}

h2{
  color:#E6B31E;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}

h3{
  color:#343434;
  font-size: 1.17rem;
  font-family: 'Montserrat', sans-serif;
}

hr{
  border-style:none;
  margin-bottom: 2px;
  margin-top: 0px;
}

p {
  font-size: 1vw;
}

td {
  padding: 8px;
	line-height: 1.1em;
  text-align: center;
}

th{
  padding: 8px;
	line-height: 1.1em;
  text-align: center;
  color:#E6B31E;
}

.table tr:nth-child(even) {
  background-color: #303030;
}

#synopsisACT{
}

#synopsisRMC{
  display: none;
}

#synopsisANM{
  display: none;
}

#synopsisAHF{
  display: none;
}

.about-info{
  color: #f2f2f2;
  font-size: 1vw;
  font-family: 'Montserrat', sans-serif;
	text-align: right;
}

.about-us{
	background-image: url("images/about.png");
	background-size:cover;
  height:94vh;
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-us-box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 42%;
	padding: 135px 60px;
	float: right;
	height: 100%;

	background-color: rgba(0,0,0,0.6);
	font-size: 1rem;
	line-height: 27px;
  max-height: -webkit-fill-available;
}

.anchor{
  padding-top: 50px;
  visibility: hidden;
}

/*synopsis booking items*/
.booking{
	margin:0px 30px 30px 30px;
  width: 100%;
}

.booking button{
	display:grid;
	background-color: #E6B31E;
 	border:1px solid #a17d12;
	border-width:1px;
 	padding:10px 10px 10px 20px;
 	cursor:pointer;
	float:left;
	font-weight:bold;
	font-family: 'Montserrat', sans-serif;
  font-size:1vw;
	color: #343434;
	border-radius: 4px;
	margin: 2px;
  width: 20%;
}

.booking button:hover{
	background-color: #a17d12;
}

.booking:after {
  clear: both;
  content: "";
  display: table;
}

/*footer*/
.contact-details{
  color:#F2F4F3;
}

/*movie descriptions*/
.description{
  color:#E6B31E;
  font-size: 1em;
  font-weight: 400px;
  font-family: 'Montserrat', sans-serif;
  line-height: 2.3;
}

.error{
  color: red;
  font-size: 0.7em;
}

/*movies display*/
.flexbox{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}

.field{
  border: 1px black solid;
  height: 30vh;
}

.first-class-box{
  display:inline-block;
  background-color: none;
}

.form{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}

.header{
	height: calc( 100% - 48px);
}

/*contact details*/
.icon{
  height:30px;
  display:inline;
}

.legend{
  border: 1px black solid;
  margin-left: 1em; padding: 0.2em 0.8em;
}

/*about us nav*/
.link{
	color: #E6B31E;
}

/*individual movie display*/
.movie{
  border-style:solid;
  border-color:#343434;
  background-color: black;
  border-width:1px;
  opacity:0.8;
  border-radius: 2px;
  max-height:400px;
  max-width:600px;
  width: 600px;
  resize: both;
  margin:5px;
}

.movie-title{
  color: #E6B31E;
  font-size: 1.6em;
  font-family: 'Montserrat', sans-serif;
  font-weight:bolder;
  position: left;
}

.movie-information{
  color: #E6B31E;
  font-size: 1.25em;
  font-family: 'Montserrat', sans-serif;
  font-weight:bolder;
  position: left;
}

/* myButton class codes created with https://www.bestcssbuttongenerator.com/ */
.myButton {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}

.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}

.myButton:active {
	position:relative;
	top:1px;
}

.navbar{
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  background-color: black;
  position: sticky;
	position: -webkit-sticky;
	top: 0;
  width: 100%;
  z-index: 99999; /*ensures navbar is in front always*/
	text-align: center;
	font-weight: bolder;
}

.navbar a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.news{
	background-image: url("images/news.png");
	background-size:cover;
  height:94vh;
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.news-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding: 135px 60px;
  float: left;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  font-size: 1vw;
  line-height: 27px;
  max-height: -webkit-fill-available;
  }

.now-showing{
  background-image: url("images/seat.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
}

.personal{
  width:50vh;
  height: 65vh;
}

.personal input:focus:invalid{
  border-width: 3px;
  background-color:#fee;
  border-color: red;
}

/*individual movie posters*/
.poster{
  width:200px;
  length:400px;
  float: left;
  margin: 30px 5px 30px 30px;
}

.prices {
  height:100vh;
  background-image:url("images/ticket.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.prices-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 42%;
  padding: 135px 60px;
  float: right;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
	font-size: 1rem;
	line-height: 27px;
  max-height: -webkit-fill-available;
}

.price-row{
  line-height: 2;
	font-family: 'Montserrat', sans-serif;
  color: white;
}

.profile-img{
  width:200px;
  border-radius: 100%;
  margin-top: 75px;
}

.seats{
  width:40vh;
}

.section-title{
    margin-top: 0px;
    padding-top: 70px;
}

.section-1 {
	background-image:url("images/cover.png");
  background-color: #343434;
  position:relative;
  height:94vh;
  background-size: cover;
	z-index: 100;
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-2{
  background-color: #66717E;
}

.section-5 {
  background-color: black;
  color:#eaf6f6;
  font-family: 'Montserrat', sans-serif;
  margin:0;
  padding-top: 35px;
  padding-bottom: 35px;
}

.standard-box{
  display:inline-block;
}

/*Lunardo title*/
.title{
	text-align: center;
  padding-top:30vh;
  width: 100vw;
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
  font-size: 7vw;
}

/*establishment date*/
.slogan{
  color:#F2F4F3;
  font-weight:normal;
  font-size: 2.5rem;
  margin-top:0;
  font-family: 'Montserrat', sans-serif;
}

/*footer details*/
.student-info{
  font-size: .8vw;
}

.synopsis{
  height:100vh;
  background-image: url("images/synop1.png");
  background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.synopsis-display{
  max-width:1000px;
	max-height:1000px;
  padding: 40px;
  margin: auto;
	border-color:#343434;
  background-color: rgba(0,0,0,0.8);
  border-width:1px;
  border-radius: 2px;
}

.synopsis-display p{
	font-family: 'Montserrat', sans-serif;
	color:#F2F4F3;
  padding-left: 30px;
}

.synopsis-display iframe{
	float: right;
	margin: 0px 30px 0px 30px;
}

/*price table*/
.table{
	border-width: 5px;
	font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
	margin-bottom: 60px;
	margin-left:auto;
  margin-right:auto;
}
