body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color:#F2F4F3;
}

h1 {
  color:#E6B31E;
  margin: 50px auto 0 auto;
  font-size: 6.625em;
}

h2{
  color:#343434;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}

h3{
  color:#343434;
  font-size: 1.17rem;
  font-family: 'Montserrat', sans-serif;
}

hr{
  border-style: none;
  height:0;
  width:5%;
  border-color: #343434;
  border-width: 7px;
  border-top-style: dotted;
  margin-bottom: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 25%;
  bottom: 55%;
}

.section-5 {
background-color: #343434;
color:#eaf6f6;
font-family: 'Montserrat', sans-serif;
margin:0;
padding-top: 35px;
padding-bottom: 35px;
}

.coding-img{
  width:25%;
  float:left;
  margin-right: 30px;
}

.copyright{
  margin-top:40px;
  font-size: 0.9rem;
  font-weight: bold;
  font-family: serif;
}

.credit{
  font-size: 0.8rem;
  text-decoration: none;
}

.design-img{
  width:25%;
  float:right;
  margin-left: 30px;
}

.final-text{
  margin-bottom: 50px;
  font-size:1rem;
}

.section-1 {
  background-color: #343434;
  position:relative;
  padding-top:10%;
  padding-bottom:17.5%;
}

.section-2{
  background-color: #66717E;
}

.navbar{
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.footer-link{
  color:#11999E;
  font-weight: bold;
  margin:30px;
  text-decoration: none;
}

.footer-link:hover{
  color:#EAF6F6;
  }

.info{
  margin-bottom: 60px;
  line-height: 2;
}

.section-3 {
  margin-bottom: 100px;
}

.profile-img{
  width:200px;
  border-radius: 100%;
  margin-top: 75px;
}

.about-us{
  width: 35%;
  margin:auto;
}

.slogan{
  color:#F2F4F3;
  font-weight:normal;
  font-size: 2.5rem;
  margin-top:0;
  font-family: 'Montserrat', sans-serif;
}

.price-row{
  width: 50%;
  margin:100px auto;
  text-align: left;
  line-height: 2;
}


.top-cloud{
  position: absolute;
  right: 25%;
  top:10%;
}

.title{
  font-family: 'Montserrat', sans-serif;

}

.now-showing{
  background-image: url(https://images.unsplash.com/photo-1532621623813-d37d9cd1d992?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);
  background-size: cover;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, 600px);
  grid-template-rows: repeat(2, 350px);
  grid-gap: 100px;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  grid-auto-flow: row;
  padding: 30px 30px 30px 30px;
  overflow: auto;
}

.movie-title{
  color: #E6B31E;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight:bolder;
  position: left;

}
.movie{
  border-style:solid;
  border-color:#343434;
  border-width:1px;
  background-color:#343434;
  opacity:0.8;
  border-radius: 25px;
  max-height:350px;
  max-width:600px;
  resize: both;
}

.poster{
  width:200px;
  length:400px;
  float: left;
  margin: 30px 5px 30px 30px;
}

.description{
  color:#E6B31E;
  font-size: 17px;
  font-weight: 400px;
  font-family: 'Meriweather', sans-serif;
  line-height: 2.3;
}


.butn {
  background: #66bfbf;
  background-image: -webkit-linear-gradient(top, #66bfbf, #2d86a1);
  background-image: -moz-linear-gradient(top, #66bfbf, #2d86a1);
  background-image: -ms-linear-gradient(top, #66bfbf, #2d86a1);
  background-image: -o-linear-gradient(top, #66bfbf, #2d86a1);
  background-image: linear-gradient(to bottom, #66bfbf, #2d86a1);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family:  'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #66bfbf 1px;
  text-decoration: none;
}

.butn:hover {
  background: #66bfbf;
  background-image: -webkit-linear-gradient(top, #66bfbf, #66bfbf);
  background-image: -moz-linear-gradient(top, #66bfbf, #66bfbf);
  background-image: -ms-linear-gradient(top, #66bfbf, #66bfbf);
  background-image: -o-linear-gradient(top, #66bfbf, #66bfbf);
  background-image: linear-gradient(to bottom, #66bfbf, #66bfbf);
  text-decoration: none;
}

.contact-details{
  color:#F2F4F3;
}
